# Maven target
/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA project files
.idea/
*.iml

# VS Code
.vscode/

# Логи, временные и кеш-файлы
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Mac OS системные файлы
.DS_Store

# Windows Thumbnails
Thumbs.db

# NetBeans и Eclipse
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nb-gradle/
build/
.classpath
.project
.settings/

# Maven Assembly files
target/

# Конфигурационные папки
config.properties
*.env

# Кэш-папки
.cache/
